<table class="table table-striped user-table">
  <thead>
    <tr>
      <th>Date</th>
      <th>User Id</th>
      <th>Group Id</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.createdAt }}</td>
      <td>{{ user.user_id }}</td>
      <td>{{ user.group_id }}</td>
      <td>
        <button class="btn btn-success" (click)="accept(user.id)">
          Accept
        </button>
      </td>
      <td>
        <button class="btn btn-danger" (click)="decline(user.id)">
          Decline
        </button>
      </td>
    </tr>
  </tbody>
</table>
