<div class="container mt-5">
  <h2>Pending Requests</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Date</th>
        <th>User Id</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.createdAt }}</td>
        <td>{{ user.friend_id }}</td>
        <td>
          <button class="btn btn-success" (click)="button1(user.id)">
            Accept
          </button>
        </td>
        <td>
          <button class="btn btn-danger" (click)="decline(user.id)">
            Decline
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container mt-5">
  <h2>Friends</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Date</th>
        <th>User Id</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let friend of friends">
        <td>{{ friend.createdAt }}</td>
        <td>{{ friend.friend_id }}</td>
      </tr>
    </tbody>
  </table>
</div>
