<form
  #group="ngForm"
  (ngSubmit)="addGroup(group)"
  class="form-horizontal"
  role="form"
>
  <div>
    <div>
      <h1>Create Group</h1>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10">
      <input type="email" name="name" ngModel placeholder="Name Of The Group" />
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10">
      <input type="text" name="description" ngModel placeholder="Description" />
    </div>
  </div>
  <br />
  <div class="form-group">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-info">
        <span class="glyphicon glyphicon-share-alt"></span>
        Create
      </button>
    </div>
  </div>
</form>
<br />
<button (click)="allGroups()">GetAllGroups</button>
<br />

<table>
  <tr>
    <th>Group Name</th>
    <th>Group Description</th>
    <th *ngIf="logedInUser.username === 'admin'">Edit</th>
    <th *ngIf="logedInUser.username === 'admin'">Suspend Group</th>
  </tr>
  <tr *ngFor="let group of groups">
    <th><input type="text" value="{{ group.name }}" /></th>
    <th>
      <input type="text" value="{{ group.description }}" />
    </th>
    <th *ngIf="logedInUser.username === 'admin'"></th>
    <th>
      <button
        *ngIf="logedInUser.username === 'admin'"
        (click)="deleteGroup(group.id)"
      >
        Suspend
      </button>
    </th>
    <th *ngIf="logedInUser.username === 'user'">
      <button (click)="join(group.id)">Join</button>
    </th>
    <th>
      <button (click)="view(group.id)">View Group</button>
    </th>
  </tr>
</table>
<div>
  <div>{{ group.name }}</div>
</div>
