<!-- <form
  #sortform="ngForm"
  (ngSubmit)="onSortPost(sortform)"
  class="form-horizontal"
  role="form"
>
  <div class="form-group text-center">
    <div class="col-sm-4 reg-icon">
      <span class="fa fa-user fa-3x">Sort Post</span>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-4">
      <select
        class="form-control"
        id="sortby"
        [(ngModel)]="sortby"
        name="sortby"
      >
        <option value="number_of_likes">Number of Likes</option>
        <option value="date_of_creation">Date of Creation</option>
      </select>
    </div>
  </div>
  <div class="form-group" *ngIf="sortby === 'number_of_likes'">
    <div class="col-sm-4">
      <input
        type="number"
        class="form-control"
        id="likes"
        [(ngModel)]="likes"
        name="likes"
        placeholder="Number of Likes"
      />
    </div>
  </div>
  <div class="form-group" *ngIf="sortby === 'date_of_creation'">
    <div class="col-sm-4">
      <input
        type="date"
        class="form-control"
        id="date"
        [(ngModel)]="date"
        name="date"
      />
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-4">
      <button type="submit" class="btn btn-info btn-sm">
        <span class="glyphicon glyphicon-share-alt"></span> Sort
      </button>
    </div>
  </div>
</form> -->

<div class="searchP">
  <form
    (ngSubmit)="searchPosts(searchForm.value)"
    #searchForm="ngForm"
    class="search-form border p-2"
  >
    <div class="form-group border p-2">
      <label for="content" class="sr-only">Content:</label>
      <input
        type="text"
        id="content"
        name="content"
        ngModel
        class="form-control form-control-sm"
        placeholder="Content"
      />
    </div>
    <div class="form-group border p-2">
      <label for="commentsContent" class="sr-only">Comments Content:</label>
      <input
        type="text"
        id="commentsContent"
        name="commentsContent"
        ngModel
        class="form-control form-control-sm"
        placeholder="Comments Content"
      />
    </div>
    <div class="form-group border p-2">
      <label for="likeRange" class="sr-only">Like Range:</label>
      <div class="input-group">
        <input
          type="number"
          id="likeRangeLower"
          name="likeRangeLower"
          ngModel
          class="form-control form-control-sm"
          placeholder="Lower"
        />
        <input
          type="number"
          id="likeRangeUpper"
          name="likeRangeUpper"
          ngModel
          class="form-control form-control-sm"
          placeholder="Upper"
        />
      </div>
    </div>
    <div class="form-group border p-2">
      <label for="commentRange" class="sr-only">Comment Range:</label>
      <div class="input-group">
        <input
          type="number"
          id="commentRangeLower"
          name="commentRangeLower"
          ngModel
          class="form-control form-control-sm"
          placeholder="Lower"
        />
        <input
          type="number"
          id="commentRangeUpper"
          name="commentRangeUpper"
          ngModel
          class="form-control form-control-sm"
          placeholder="Upper"
        />
      </div>
    </div>
    <div class="form-group border p-2">
      <label for="operation" class="sr-only">Operation:</label>
      <select
        id="operation"
        name="operation"
        ngModel
        class="form-control form-control-sm"
      >
        <option value="AND" selected>AND</option>
        <option value="OR">OR</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary btn-sm">Search</button>
  </form>
</div>

<div>
  <h3>Extracted Highlights:</h3>
  <ul>
    <li *ngFor="let highlight of highlights">{{ highlight }}</li>
  </ul>
</div>

<div class="button">
  <button class="btn btn-primary" (click)="getAllPosts()">
    Get Random Posts
  </button>
</div>
<div class="container">
  <div *ngFor="let post of posts" class="post">
    <div class="header">
      <img
        src="assets/images/user-icon.png"
        class="avatar"
        alt="user profile image"
      />
      <div class="meta">
        <div class="title">
          <b>{{ "User Id : " + post.user_id }}</b>
        </div>
      </div>
      <a class="post-groupName" [routerLink]="['/group', post.group_id]">
        {{ "Group: " + post.groupName }}</a
      >
      <a [routerLink]="['/posts', post.id]">{{ "Post: " + post.content }}</a>
    </div>
    <div class="body">
      <img src="assets/images/user-icon.png" class="post-image" />
      <h3>{{ post.content }}</h3>
      <div class="stats" *ngIf="isLoggedIn">
        <button class="btn btn-primary" (click)="likePost(post)">Like</button>
        <p class="btn">{{ post.numberOfLikes }}</p>
        <button class="btn btn-info" (click)="disLikePost(post)">
          Dislike
        </button>
        <button class="btn btn-danger redbtn" (click)="toggleReportList()">
          ...
        </button>
        <div *ngIf="showReportList" class="report-list">
          <select [(ngModel)]="selectedReportOption">
            <option *ngFor="let option of reportOptions" [value]="option">
              {{ option }}
            </option>
          </select>
          <button
            class="btn btn-danger redbtn"
            (click)="report(selectedReportOption, post)"
          >
            Report
          </button>
        </div>
      </div>
    </div>
    <div class="kffd" *ngIf="isLoggedIn">
      <form
        #sortform="ngForm"
        (ngSubmit)="onSortComment1(sortform)"
        class="form-horizontal"
        role="form"
      >
        <div class="form-group text-center">
          <div class="col-sm-10 reg-icon">
            <span class="fa fa-user fa-3x">Sort Comment</span>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-10">
            <select
              class="form-control"
              id="sortby"
              [(ngModel)]="sortby1"
              name="sortby"
            >
              <option value="latest_to_earliest">Latest to Earliest</option>
              <option value="earliest_to_latest">Earliest to Latest</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="start_date" class="col-sm-2 control-label"
            >Start Date:</label
          >
          <div class="col-sm-10">
            <input
              type="date"
              class="form-control"
              id="start_date"
              [(ngModel)]="start_date"
              name="start_date"
            />
          </div>
        </div>
        <div class="form-group">
          <label for="end_date" class="col-sm-2 control-label">End Date:</label>
          <div class="col-sm-10">
            <input
              type="date"
              class="form-control"
              id="end_date"
              [(ngModel)]="end_date"
              name="end_date"
            />
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-10">
            <button type="submit" class="btn btn-info">
              <span class="glyphicon glyphicon-share-alt"></span> Sort
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="footer">
      <app-comments curentUserId="1" postId="{{ post.id }}"></app-comments>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
