html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  border-bottom: 1px solid black;
}

.container {
  align-items: center;
}

.button {
  margin: 10px;
}

.searchP {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form {
  display: flex;
  align-items: center;
  width: auto;
  margin: 10px;
}

.search-form .form-group {
  margin-right: 10px; /* Adjust spacing between form fields */
}

.search-form .input-group {
  display: flex;
}

.search-form .input-group input {
  margin-right: 5px;
}

.search-form .form-group:last-child {
  margin-right: 0;
}

.search-form button {
  margin-left: 10px;
  align-self: center;
}
