<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" *ngIf="!isLoggedIn">
        <a
          class="nav-link"
          routerLink="login"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Log In</a
        >
      </li>
      <li class="nav-item" *ngIf="!isLoggedIn">
        <a
          class="nav-link"
          routerLink="signin"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Sign Up</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/posts"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Posts</a
        >
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a
          class="nav-link"
          routerLink="/groups"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Groups</a
        >
      </li>

      <li class="nav-item" *ngIf="isLoggedIn">
        <a
          class="nav-link"
          routerLink="/profile"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Profile</a
        >
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a
          class="nav-link"
          routerLink="/users"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Users</a
        >
      </li>
      <li *ngIf="!IsUserAdmin && isLoggedIn">
        <a
          class="nav-link"
          routerLink="/friendRequests"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Friend Requests</a
        >
      </li>

      <li *ngIf="!IsUserAdmin && isLoggedIn">
        <a
          class="nav-link"
          routerLink="/groupRequest"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Group Requests</a
        >
      </li>
      <li>
        <a class="nav-link" *ngIf="isLoggedIn" (click)="logout()"> LogOut </a>
      </li>
    </ul>
  </div>
</nav>
