<form
  #signIn="ngForm"
  (ngSubmit)="signInForm(signIn)"
  class="form-horizontal"
  role="form"
>
  <div>
    <div>
      <h1>Sign In</h1>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10">
      <input type="email" name="username" ngModel placeholder="Username" />
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10">
      <input type="password" name="password" ngModel placeholder="Password" />
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10">
      <input type="text" name="firstName" ngModel placeholder="First Name" />
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10">
      <input type="text" name="lastName" ngModel placeholder="Last Name" />
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10">
      <input type="email" name="email" ngModel placeholder="Email" />
    </div>
  </div>
  <br />
  <div class="form-group">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-info">
        <span class="glyphicon glyphicon-share-alt"></span>
        Sign In
      </button>
    </div>
  </div>
</form>
